---
import Button from '@/components/Button.astro'
import IntroBG from '@/components/IntroBG.astro'
import Services from '@/components/Services.astro'
import Articles from '@/components/Articles.astro'
import Layout from '@/layouts/Layout.astro'
---

<Layout title="Easybank">
  <main class="">
    <IntroBG />
    <section class="md:min-h-[70vh] md:flex md:items-center">
      <div class="container content-flow">
        <h1 class="text-primary-DarkBlue max-w-[14ch]">Next generation digital banking</h1>
        <p class="max-w-[42ch]">Take your financial life online. Your Easybank account will be a one-stop-shop for spending, saving, budgeting, investing, and much more.</p>
        <Button />
      </div>
    </section>

    <section class="bg-neutral-LightGrayishBlue">
      <div class="container content-flow py-20">
        <h2 class="text-primary-DarkBlue">Why choose Easybank?</h2>
        <p class="max-w-[60ch]">We leverage Open Banking to turn your bank account into your financial hub. Control your finances like never before.</p>
        <Services />
      </div>
    </section>

    <section class="bg-neutral-VeryLightGray">
      <div class="container content-flow py-20">
        <h2 class="text-primary-DarkBlue">Latest Articles</h2>
        <Articles />
      </div>
    </section>
  </main>
</Layout>
