<div class="relative">
  <img class="hidden md:block absolute || translate-y-[-30%] right-[-20%] -z-10" src="/images/bg-intro-desktop.svg" alt="" />
  <img class="right-0 md:absolute  translate-y-[-20%]" src="/images/image-mockups.png" alt="" />  
  <img class="absolute md:hidden || top-0 left-0 w-full -z-10" src="/images/bg-intro-mobile.svg" alt="" />
</div>