<nav>
  <ul class="secondary md:columns-2">
    <li><a href="">About Us</a></li>
    <li><a href="">Contact</a></li>
    <li><a href="">Blog</a></li>
    <li><a href="">Careers</a></li>
    <li><a href="">Support</a></li>
    <li><a href="">Privacy Policy</a></li>
  </ul>
</nav>

<style>
  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  a {
    @apply text-gray-300 font-medium py-2;
    display: inline-block;
    transition: all 0.2s ease-in-out;

    &:hover {
      @apply text-primary-LimeGreen;
    }
  }
</style>
