<nav>
  <ul class="flex flex-wrap md:justify-start justify-center gap-x-4">
    <li><a target="_blank" href="https://www.facebook.com/"><img src="/public/images/icon-facebook.svg" alt="Facebook" width={25} height={25} /></a></li>
    <li><a target="_blank" href="https://www.youtube.com/"><img src="/public/images/icon-youtube.svg" alt="Youtube" width={25} height={25} /></a></li>
    <li><a target="_blank" href="https://twitter.com/"><img src="/public/images/icon-twitter.svg" alt="Twitter" width={25} height={25} /></a></li>
    <li><a target="_blank" href="https://www.pinterest.com/"><img src="/public/images/icon-pinterest.svg" alt="pinterest" width={25} height={25} /></a></li>
    <li><a target="_blank" href="https://www.instagram.com/"><img src="/public/images/icon-instagram.svg" alt="Instagram" width={25} height={25} /></a></li>
    
  </ul>
</nav>

<style>
  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  img {
    @apply hover:opacity-45 transition-opacity duration-300;
  }
</style>
